.fhntv{
    color: #db8ff2;
    background-color: #b6f1fa;
}
.aaa{
    color: #fab6c3;
    background-color: #b6f1fa;
}
.bbb{
    color: #f8fab6;
    background-color: #db8ff2;
}
.xxx{
    color: #fae1b6;
    background-color: #b6f1fa;
}
.www{
    color: #bfacaa;
    background-color: fab6c3;
}
.kkk{
    color: #827e7e;
    background-color: #bfacaa;
}
body {
 background-image: url("unnamed.jpg");
}
